.App {
  background: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 15px;
}
.App-header {
  font-family: "Hina Mincho", serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  color: darkslateblue;

  text-align: center;
  padding: 20px;
}
.App-footer {
  color: whitesmoke;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.Dicitionary form {
  text-align: center;
  display: block;
  padding: 10px;
  margin: 0px auto;
  border-radius: 40px;
}
.Dicitionary input {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px;
}

.phonetics {
  text-align: left;
  color: black;
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  padding-top: 12px;
  padding-bottom: 10px;
  margin: 30px;
  border-radius: 20px;
  padding-left: 8px;
  box-shadow: 3px 3px 3px 0px whitesmoke;
}
.phonetics a {
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  transition: all 120ms ease-in-out;
  background-color: rgb(163, 158, 158);
  color: black;
}

.phonetics a:hover {
  background-color: grey;
  color: white;
}
.synonyms li {
  display: inline-block;
  padding-right: 2px;
  line-height: 0px;
}
