.App {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 213, 214) 0%,
    rgb(243, 242, 229) 90%
  );
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 15px;
}
.App-header {
  font-family: "Hina Mincho", serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  color: #346357;

  text-align: center;
  padding: 20px;
}
.App-footer {
  color: grey;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
.App-footer a {
  color: grey;
}

.Dicitionary form {
  text-align: center;
  display: block;
  padding: 10px;
  border-radius: 40px;
}
.Dicitionary input {
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px;
}

.phonetics {
  text-align: left;
  color: black;
}
.phonetics a {
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 3px 6px 2px 7px;
  margin-top: 10px;
  text-decoration: none;
  transition: all 120ms ease-in-out;
  background-color: rgb(163, 158, 158);
  color: black;
}

.phonetics a:hover {
  background-color: grey;
  color: white;
}
.synonyms li {
  display: inline-block;
  padding-right: 2px;
}
