.Meaning p {
  color: black;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  font-family: sans-serif;
  margin: 15px;
  padding-top: 12px;
  padding-bottom: 10px;
}
.Meaning h1,
h3,
p:first-letter {
  text-transform: capitalize;
}
h1,
h2,
h3 {
  font-style: italic;
  margin-left: 10px;
  color: white;
  font-size: 18px;
  text-align: left;
}
.Meaning section {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: cover;
  border-radius: 20px;
  padding-left: 2px;
  margin: 30px;
}
