.photos {
  border-radius: 8px;
  padding: 5px;
  width: 90%;
}
section {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 213, 214) 0%,
    rgb(243, 242, 229) 90%
  );
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px 0px rgba(245, 245, 245, 0.658);
}
